certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.4.2
Django==2.2.24
django-bootstrap4==0.0.6
django-cors-headers==2.2.0
djangorestframework==3.7.7
gunicorn==19.7.1
httpie==0.9.9
idna==2.6
psycopg2==2.7.4
psycopg2-binary==2.7.4
Pygments==2.2.0
python-decouple==3.1
pytz==2018.3
requests==2.18.4
urllib3==1.22
whitenoise==3.3.1
